# .NET build artifacts
**/bin/
**/obj/

# User-specific files
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates

# Visual Studio temporary files
**/.vs/

# app settings
**/appsettings.json
**/appsettings.*.json
